@model AssistVente.Models.Achat
@{
    ViewBag.Title = "Details";
}

    <div class="card strpied-tabled-with-hover">
        <div class="card-header ">
            <h4 class="card-title">Details de la facture "@Model.NumFacture"</h4>

            <p class="card-category  pull-left">Voir les informations détaillées d'une facture</p>
        </div>

        <div class="card-body table-full-width table-responsive">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-hover table-striped">
                        <tr>
                            <td><b>Fourniseur</b></td>
                            <td>
                                @Html.DisplayFor(model => model.Fournisseur)
                            </td>
                        </tr>
                        <tr>
                            <td><b>Date</b></td>
                            <td>
                                @Html.DisplayFor(model => model.Date)
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-hover table-striped">
                        <tr>
                            <td><b>Numéro facture</b></td>
                            <td>
                                @Html.DisplayFor(model => model.NumFacture)
                            </td>
                        </tr>
                        <tr>
                            <td><b>Montant</b></td>
                            <td>
                                @Html.DisplayFor(model => model.Montant)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-bordered col-md-12" style="background-color : #ffff">
                <thead>
                <th style="color: #000000"><b>Produit</b></th>
                <th style="color : #000000"><b>Quantite</b></th>
                    <th style="color : #000000"><b>Prix d'achat</b></th>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Details.Count; i++)
                    {
                        <tr>
                            <td>@Model.Details[i].Produit.Nom</td>
                            <td class="text-align-right">@Model.Details[i].QuantiteAchetee</td>
                            <td class="text-align-right">@Model.Details[i].Produit.PrixAchat</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
Total: @Model.Details.Sum(d=>d.PrixAchat*d.QuantiteAchetee)
    <p class="pull-right">
        <a href="@Url.Action("Delete", new { id = Model.Id })" style="margin-right:5px;" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Supprimer l'achat</a>
        <a href="@Url.Action("Index")" style="margin-right:5px;" class="btn btn-default"><span class="fas fa-arrow-left"></span> Retour à la liste</a>
    </p>
