
@model AssistVente.Models.Location

@{
    ViewBag.Title = "Details";
}

<div class="card strpied-tabled-with-hover">
    <div class="card-header ">
        <h4 class="card-title ">Details de la location du produit "@Model.Produit.Nom"</h4>

        <p class="card-category  pull-left">Voir les informations détaillées d'une location</p>

    </div>
    <div class="card-body table-full-width table-responsive">
        <table class="table table-hover table-striped">
            <tbody>
                <tr>
                    <td><b>Produit</b></td>
                    <td>
                        @Html.DisplayFor(model => model.Produit.Nom)
                    </td>
                </tr>
                <tr>
                    <td><b>Date de Location</b></td>
                    <td>
                        @Html.DisplayFor(model => model.DateLocation)
                    </td>
                </tr>
                <tr>
                    <td><b>Date de retour</b></td>
                    <td>
                        @Html.DisplayFor(model => model.DateFinLocation)
                    </td>
                </tr>
                <tr>
                    <td><b>Date d'arret</b></td>
                    <td>
                        @Html.DisplayFor(model => model.DateArretLocation)
                    </td>
                </tr>
                <tr>
                    <td><b>Etat</b></td>
                    <td>
                        @if (Model.LocationRendue)
                        {
                            <span class="badge badge-success">RENDUE</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">NON RENDU</span>
                        }
                        @if (Model.Montant <= Model.MontantPaye)
                        {
                            <span class="badge badge-success">Payé</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">NON Payé</span>if ((Model.DateFinLocation - DateTime.Now).TotalDays < -1)
                            {
                                <span class="badge badge-danger">Expiré</span>
                            }
                            else if ((Model.DateFinLocation - DateTime.Now).TotalDays < 0)
                            {
                                <span class="badge badge-warning">Expire aujourd'hui</span>
                            }
                            else if ((Model.DateFinLocation - DateTime.Now).TotalDays < 1)
                            {
                                <span class="badge badge-warning">Expire demain</span>
                            }
                        }
                        

                    </td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.QuantitePrise)</b></td>
                    <td>
                        @Html.DisplayFor(model => model.QuantitePrise)
                    </td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.QuantiteRendue)</b></td>
                    <td>
                        @Html.DisplayFor(model => model.QuantiteRendue)
                    </td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.Montant)</b></td>
                    <td>
                        @Html.DisplayFor(model => model.Montant)
                    </td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.MontantPaye)</b></td>
                    <td>
                        @Html.DisplayFor(model => model.MontantPaye)
                    </td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.Date)</b></td>
                    <td>
                        @Html.DisplayFor(model => model.Date)
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="pull-right">
            <a href="@Url.Action("Rendre", new { id = Model.Id })" style="margin-right:5px;" class="btn btn-primary @if (Model.LocationRendue) { @("disabled")} "><i class="fas fa-calendar-check"></i> Rendre la location</a>
            <a href="@Url.Action("Reglement", new { id = Model.Id })" style="margin-right:5px;" class="btn btn-default @if (Model.Montant<=Model.MontantPaye) { @("disabled")} "><i class="fa fa-money-bill"></i> Payer la location</a>
            <a href="@Url.Action("Delete", new { id = Model.Id })" style="margin-right:5px;" class="btn btn-danger "><i class="fas fa-trash-alt"></i> Supprimer la location</a>
            <a href="@Url.Action("Index")" style="margin-right:5px;" class="btn btn-default"><i class="fas fa-arrow-left"></i> Retour à la liste</a>
        </p>
    </div>
</div>
