@model IEnumerable<AssistVente.Models.ViewModels.stockLogIndexVM>

@{
    ViewBag.Title = "Index";
}

<h4>Historique du stock du produit @ViewBag.produitName</h4>
<table class="table datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OldStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProduitName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            @*<th></th>*@
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProduitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
        </tr>
        }
    </tbody>


</table>
<div>
    <h4>Total: <span class="small text-primary">@Model.Sum(m => m.Amount)</span></h4> 
</div>