@model AssistVente.Models.Vente
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>~</title>
    <style>
        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }

        * {
            font-size: small
        }
    </style>
    <link href="~/Content/css/all.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/css/demo.css" rel="stylesheet" />
    <link href="~/Content/custom-checkboxes.css" rel="stylesheet" />
    <link href="~/Content/css/datatables.min.css" rel="stylesheet" />
</head>
<body style="width:100%;  text-align:center;">
    @*<div style="width:100%;  text-align:center; @if (Model.Details.Count > 5) { @("min-height: 90vh;") } else {@("min-height: 20vh;") } ">
            <h4 style="display:inline-block; margin-top:3px;margin-bottom:2px;"><img src="~/assets/img/eyiwa.jpg" width="100px" /> Recu de Vente Eyiwa Land</h4>

            <p></p>
            <p>Date : @Model.DateOperation.ToShortDateString() | Client: @Model.Client.Nom | Montant : @Model.Montant</p>
            <p>

            </p>
            <p>

            </p>
            <table border="1" cellpadding="4" style="margin:auto">
                <thead>
                <th>Produit</th>
                <th>Quantité</th>
                <th>P.U.</th>
                <th>Montant</th>
                </thead>
                <tbody>
                    @foreach (var item in Model.Details)
                    {
                        <tr>
                            <td>@item.Produit.Nom</td>
                            <td>@item.QuantiteVendue</td>
                            <td>@item.Produit.PrixVente</td>
                            <td>@(item.Produit.PrixVente * item.QuantiteVendue)</td>
                        </tr>

                    }
                </tbody>

            </table>
            <p style="font-weight:bold; margin-top:12px;">Total: @Model.Montant </p>
            <p>  Merci de votre confiance.</p>
            <br />
        </div>
        @if (Model.Details.Count < 5)
        {
            <hr style="color:black; background-color:black; min-height:1px; margin-top:1px; margin-bottom: 1px;" />
        }
        <div style="width:100%;  text-align:center; @if (Model.Details.Count > 5) { @("min-height: 90vh;") } else {@("min-height: 20vh;") }  ">
            <h4 style="display:inline-block"><img src="~/assets/img/eyiwa.jpg" width="100px" /> Recu de Vente Eyiwa Land</h4>

            <p></p>
            <p>Date : @Model.DateOperation.ToShortDateString() | Client: @Model.Client.Nom | Montant : @Model.Montant</p>
            <p>

            </p>
            <p>

            </p>
            <table border="1" cellpadding="4" style="margin:auto">
                <thead>
                <th>Produit</th>
                <th>Quantité</th>
                <th>P.U.</th>
                <th>Montant</th>
                </thead>
                <tbody>
                    @foreach (var item in Model.Details)
                    {
                        <tr>
                            <td>@item.Produit.Nom</td>
                            <td>@item.QuantiteVendue</td>
                            <td>@item.Produit.PrixVente</td>
                            <td>@(item.Produit.PrixVente * item.QuantiteVendue)</td>
                        </tr>

                    }
                </tbody>

            </table>
            <p style="font-weight:bold; margin-top:12px;">Total: @Model.Montant </p>
            <p>  Merci de votre confiance.</p>
            <br />
        </div>*@
    <div class="row">
        @for (int i = 0; i < 3; i++)
        {
            if (i == 2)
            {
                <div class="col-md-3" style="max-width:32% ;">
                    <p style="display:inline-block; margin-top:3px;margin-bottom:2px; font-size:small"><img src="~/assets/img/eyiwa.jpg" width="50px" /></p>
                    <p style="font-size:small"> Recu de Vente Eyiwa Land</p>

                    <p></p>
                    <p style="font-size:small">Date : @Model.Date</p>
                    <p>
                        Client: @Model.Client.Nom
                    </p>
                    <table border="1" cellpadding="1" style="margin:auto">
                        <thead>
                        <th style="font-size:12px">Article</th>
                        <th style="font-size:12px">Qte</th>
                        <th style="font-size:12px">P.U.</th>
                        <th style="font-size:12px">Prix</th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Details)
                            {
                                <tr>
                                    <td style="font-size:12px;">@item.Produit.Nom</td>
                                    <td style="font-size:12px">@item.QuantiteVendue</td>
                                    <td style="font-size:8px">@String.Format("{0:### ### ###}", item.Produit.PrixVente)</td>
                                    <td style="font-size:8px">@String.Format("{0:### ### ###}", (item.Produit.PrixVente * item.QuantiteVendue))</td>
                                </tr>

                            }
                            <tr>
                                <td>Total</td>
                                <td colspan="3" style="text-align:right; font-weight:bold">
                                    @String.Format("{0:### ### ###}", Model.Montant)
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    @*<p style="font-weight:bold; margin-top:12px;">Total: @Model.Montant </p>*@

                    <p style="margin-top:20px;">  Merci de votre confiance.</p>
                    <br />
                </div>
            }
            else
            {
                <div class="col-md-3" style="max-width:32% ; border-right:2px black dashed;margin-left:10px;">
                    <p style="display:inline-block; margin-top:3px;margin-bottom:2px; font-size:small"><img src="~/assets/img/eyiwa.jpg" width="50px" /></p>
                    <p style="font-size:small"> Recu de Vente Eyiwa Land</p>

                    <p></p>
                    <p style="font-size:small">Date : @Model.Date</p>
                    <p>
                        Client: @Model.Client.Nom
                    </p>
                    <table border="1" cellpadding="1" style="margin:auto">
                        <thead>
                        <th style="font-size:12px">Article</th>
                        <th style="font-size:12px">Qte</th>
                        <th style="font-size:12px">P.U.</th>
                        <th style="font-size:12px">Prix</th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Details)
                            {
                                <tr>
                                    <td style="font-size:12px;">@item.Produit.Nom</td>
                                    <td style="font-size:12px">@item.QuantiteVendue</td>
                                    <td style="font-size:8px">@String.Format("{0:### ### ###}", item.Produit.PrixVente)</td>
                                    <td style="font-size:8px">@String.Format("{0:### ### ###}", (item.Produit.PrixVente * item.QuantiteVendue))</td>
                                </tr>

                            }
                            <tr>
                                <td>Total</td>
                                <td colspan="3" style="text-align:right; font-weight:bold">
                                    @String.Format("{0:### ### ###}", Model.Montant)
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    @*<p style="font-weight:bold; margin-top:12px;">Total: @Model.Montant </p>*@

                    <p style="margin-top:20px;">  Merci de votre confiance.</p>
                    <br />
                </div>
            }

        }



    </div>

    <button onclick="window.print();return false;" class="no-print" style="margin-top:15px;">Imprimer</button>
</body>
</html>
