@model AssistVente.Models.Vente
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>~</title>
    <style>
        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }

        * {
            font-size: medium
        }

        @@page {
            /* dimensions for the whole page */
            size: A4;
            margin: 0 auto;
        }

        html {
            /* off-white, so body edge is visible in browser */
            background: #eee;
        }

        body {
            /* A5 dimensions */
            /*height: 210mm;
            width: 148.5mm;
            margin: 0;*/
        }

        /* fill half the height with each face */
        .face {
            height: 100%;
            width: 100%;
            position: relative;
        }

        /* the back face */
        .face-back {
            background: #f6f6f6;
        }
    </style>
    <link href="~/Content/css/all.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/css/demo.css" rel="stylesheet" />
    <link href="~/Content/custom-checkboxes.css" rel="stylesheet" />
    <link href="~/Content/css/datatables.min.css" rel="stylesheet" />

    @*You could uset paper-css library as it will help you easily define the paper size by paper-css lib load the css file*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
</head>
<body>


    <section>

        <div style="margin:0 auto; text-align:center;">
            <div style="margin:0 auto;">
                <p style="display:inline-block; margin-top:3px;margin-bottom:2px;"><img src="~/assets/img/eyiwa.jpg" width="100px" /></p>
                <p> Recu de Vente Eyiwa Land</p>
                <p></p>
                <p>Date : @Model.Date</p>
                <p>
                    Client: @Model.Client.Nom
                </p>
            </div>

            <table border="1" cellpadding="4" style="margin:auto">
                <thead>
                    <tr>
                        <th>Article</th>
                        <th>Qte</th>
                        <th>P.U.</th>
                        <th>Prix</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.Details)
                    {
                    <tr>
                        <td style="font-size:12px;">@item.Produit.Nom</td>
                        <td style="font-size:12px;text-align:right;">@item.QuantiteVendue</td>
                        <td style="font-weight:bold;font-size:10px;text-align:right;">@String.Format("{0:### ### ###}", item.Produit.PrixVente)</td>
                        <td style="font-weight:bold;font-size:10px;text-align:right;">@String.Format("{0:### ### ###}", (item.Produit.PrixVente * item.QuantiteVendue))</td>
                    </tr>

                    }
                    <tr>
                        <td>Total</td>
                        <td colspan="3" style="text-align:center; font-weight:bold">
                            @String.Format("{0:### ### ###}", Model.Montant > 0 ? Model.Montant : Model.MontantRegle)
                        </td>
                    </tr>
                </tbody>
            </table>

            <p style="margin-top:20px;">  Merci de votre confiance.</p>
        </div>

    </section>



    <div style="text-align:center">
        <button onclick="window.print();return false;" class="no-print" style="margin-top:15px;">Imprimer</button>
    </div>
</body>
</html>
