@model AssistVente.Models.Vente

@{
    ViewBag.Title = "Delete";
}


<div>
    @using (Html.BeginForm())
    {
        <div class="form-group col-md-6">

            <h4>Reglement de la vente</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Client.Nom)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Client.Nom)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Montant)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Montant)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DateOperation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateOperation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.MontantRegle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MontantRegle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MontantRestant)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MontantRestant)
                </dd>

            </dl>
            <label for="sel1">Mode de reglement</label>
            <select class="form-control" id="sel1" name="reglement">
                <option>Espèce</option>
                <option>Chèque</option>
                <option>Carte banquaire</option>
            </select>

            @Html.AntiForgeryToken()
            <label for="mtRegle">Montant Réglé</label>
            <input type="number" max="@Model.MontantRestant" class="form-control col-md-offset-3 col-md-4" value="0" name="mtRegle" id="mtRegle" />
            <div class="form-actions no-color pull-right">
                <input type="submit" value="Oui, Régler la vente" class="btn btn-primary" /> |
                <a href="@Url.Action("Index")" style="margin-right:5px;" class="btn btn-default"><i class="fas fa-arrow-left"></i> Retour à la liste</a>
            </div>
        </div>
    }
</div>
