@model AssistVente.Models.Abonnement
@{
    ViewBag.Title = "Details";
}

<div class="card strpied-tabled-with-hover">
    <div class="card-header ">
        <h4 class="card-title ">Details de l'abonnement "@Model.Forfait.Nom du client @Model.Client.Nom"</h4>

        <p class="card-category  pull-left">Voir les informations détaillées d'un abonnemnt</p>

    </div>
    <div class="card-body table-full-width table-responsive">
        <table class="table table-hover table-striped">
            <tbody>
                <tr>
                    <td><b>Forfait</b></td>
                    <td>
                        @Html.DisplayFor(model => model.Forfait.Nom)
                    </td>
                </tr>
                <tr>
                    <td><b>Client</b></td>
                    <td>
                        @Html.DisplayFor(model => model.Client.Nom)
                    </td>
                </tr>
                <tr>
                    <td><b>Date de début</b></td>
                    <td>
                        @Html.DisplayFor(model => model.DateDebut)
                    </td>
                </tr>
                <tr>
                    <td><b>Date de fin</b></td>
                    <td>
                        @Html.DisplayFor(model => model.DateFin)
                    </td>
                </tr>
                <tr>
                    <td><b>Etat</b></td>
                    <td>
                        @if (Model.Termine)
                        {
                            <span class="badge badge-success">Expiré</span>
                        }
                        else
                        {
                            if ((Model.DateFin - DateTime.Now).TotalDays < -1)
                            {
                                <span class="badge badge-danger">Expiré</span>
                            }
                            else if ((Model.DateFin - DateTime.Now).TotalDays < 0)
                            {
                                <span class="badge badge-warning">Expire aujourd'hui</span>
                            }
                            else if ((Model.DateFin - DateTime.Now).TotalDays < 1)
                            {
                                <span class="badge badge-warning">Expire demain</span>
                            }
                            else if (Model.Suspendu)
                            {
                                <span class="badge badge-warning">Suspendu le</span> @Html.DisplayFor(modelItem => Model.DateSuspension)
                            }
                        }
                        @if (Model.ResteAPayer >= 0)
                        {
                            <span class="badge badge-success">Payé</span>
                        }


                    </td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.Montant)</b></td>
                    <td>
                        @Html.DisplayFor(model => model.Montant)
                    </td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.ResteAPayer)</b></td>
                    <td>
                        @Html.DisplayFor(model => model.ResteAPayer)
                    </td>
                </tr>
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.Date)</b></td>
                    <td>
                        @Html.DisplayFor(model => model.Date)
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="pull-right">
            <a href="@Url.Action("Suspendre", new { id = Model.Id })" style="margin-right:5px;" class="btn btn-primary @if (Model.Suspendu) { @("disabled")} "><i class="fas fa-calendar-check"></i> Suspendre l'abonnement</a>
            <a href="@Url.Action("Reglement", new { id = Model.Id })" style="margin-right:5px;" class="btn btn-default @if (Model.ResteAPayer>=0) { @("disabled")} "><i class="fas fa-money"></i> Payer l'abonnement</a>
            <a href="@Url.Action("Recu", new { id = Model.Id })" style="margin-right:5px;" target="_blank" class="btn btn-default "><i class="fas fa-print"></i> Imprimer le reçu</a>
            <a href="@Url.Action("Delete", new { id = Model.Id })" style="margin-right:5px;" class="btn btn-danger "><i class="fas fa-remove"></i> Supprimer l'abonnement</a>
            <a href="@Url.Action("Index")" style="margin-right:5px;" class="btn btn-default"><i class="fas fa-arrow-left"></i> Retour à la liste</a>
        </p>
    </div>
</div>


