@model AssistVente.Models.Abonnement
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>~</title>
    <style>
        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>
</head>
<body style="width:200px; background-color:white; text-align:center;">
    <div style="width:200px; background-color:dodgerblue; text-align:center;">
        <h4>Abonnement Eyiwa Land : @Model.Forfait.Nom</h4>
        <p>Date : @Model.Date.ToShortDateString() <br />
        <p>Date de début : @Model.DateDebut.ToShortDateString()</p>
        <p>Date de fin: @Model.DateFin.ToShortDateString()</p>
        <p>
            Montant : @Model.Montant
        </p>

        <p>  Merci de votre confiance.</p>
        <br />
    </div>
    <button onclick="window.print();return false;" class="no-print">Imprimer</button>
</body>
</html>
